.LoginPage {
  text-align: center;
  background: linear-gradient(to right top, rgba(104, 81, 161, 0.411) 10%, rgba(19, 81, 216, 0.747) 100%),
    url('../images/girl.jpeg');
  background-size: cover;
  color: white;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.Login {
  background-color: white;
  color: rgb(73, 73, 73);
  background: cover;
  width: 33.33%;
  margin: auto;
  border-radius: 4px;
  padding-bottom: 50px;
}

.login-title {
  font-size: 4vw;
  padding: 50px;
}

.email {
  width: 80%;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.password {
  width: 80%;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

.login-button {
  width: 80%;
  height: 50px;
  cursor: pointer;
}

button:active {
  box-shadow: rgb(85, 85, 85);
  transform: translateY(2px);
}