.MilitaryPress {
  background-image: linear-gradient(to right top, #010101, #0a0811, #110e1b, #151325, #18172f);
  background-size: cover;
  color: white;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0;
  text-align: center;
}

.workout-cycle-tabs {
  width: 50%;
  margin: auto;
}

.home-button {
  text-decoration: none;
  float: left;
  margin: 1%;
}

.cycle {
  color: rgb(73, 73, 73);
  width: 15%;
  padding: 25px 0;
}

.cycle-container {
  margin: 50px 0;
  flex-direction: row;
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
}