.MilitaryPress {
  background-image: linear-gradient(to right top, #010101, #0a0811, #110e1b, #151325, #18172f);
  background-size: cover;
  color: white;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0;
  text-align: center;
}

.session-title {
  padding: 0;
  margin: auto;
}

.routine {
  display: flex;
  flex-direction: row;
}

.workout-cycle-tabs {
  width: 70%;
  margin: auto;
}

.home-button {
  text-decoration: none;
  float: left;
  margin: 1%;
}

.cycle {
  color: rgb(73, 73, 73);
  width: 20%;
  padding: 25px 0;
  margin: 25px;
  display: inline-block;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.weights {
  margin: 10px;
}

.reps {
  margin: 10px;
}

.weight-title {
  border-bottom: 2px solid rgb(73, 73, 73);
  margin: 12px;
}